.container {
    width: 70%;
    margin: auto;
    text-align: center;
    overflow:hidden;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #000000bf;
    
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }
  
  button{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding : 16px 32px;
      background-color: #9C060C;
      color: #ffffff;
      cursor: pointer;
      border-style:none;
      border-radius:15px;
      box-shadow: rgb(0, 0, 0) 0px 3px 8px;
      font-size:1rem;
      font-family: 'Lobster', cursive;
  }
  
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }